@import "./css/root.css";
/* @import "./css/utilities/utilities.css"; */
/* component library css */
.social-media {
  display: flex;
}
html {
  background-color: var(--white);
  scroll-behavior: smooth;
}
body {
  margin: 0rem;
}
.container {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 4fr;
  grid-template-areas: "sidebar main ";
}

.sidebar {
  grid-area: sidebar;
  position: sticky;
  overflow-y: auto;
  top: 5rem;
  height: calc(100vh - 7rem);
  min-width: 10rem;
}
.sidebar-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.main {
  width: 100%;
  grid-area: main;
  display: flex;
  flex-flow: column wrap;
  margin: auto;
  flex-shrink: 2;
}
.code {
  width: 100vh;
}
.code-container {
  overflow: auto;
  padding: 0.5rem;
}
.row-responsive {
  flex-flow: row wrap;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 650px) {
  .container {
    display: flex;
    width: 100%;
    /* grid-template-columns: 1fr 4fr;
    grid-template-areas: "sidebar main ";
    gap: 0.5rem; */
  }
  .sidebar {
    display: none;
  }
  .code {
    width: 45vh;
  }
  .row-responsive {
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-between;
  }
}
