@import "./css/root.css";
/* @import "./css/utilities/utilities.css"; */
/* component library css */
.social-media {
  display: flex;
}
html {
  background-color: #f5f5f5be;
}
body {
  margin: 0px;
  padding: 0px;
}
.container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 4fr;
  grid-template-areas:
    "sidebar main "
    "sidebar main "
    "sidebar main ";
}
.sidebar {
  grid-area: sidebar;
  position: sticky;

  top: 5rem;
  height: calc(100vh - 7rem);

  /* display: block !important; */
  /* height: 20rem;
  padding-left: 0.25rem;
  margin-left: -0.25rem; */
  overflow-y: auto;
}
.sidebar-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.main {
  grid-area: main;
}
