@import "../utilities/utilities.css";

.avatar-sm {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
}

.avatar-md {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}
.avatar-lg {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}
