@import "../utilities/utilities.css";

button {
  cursor: pointer;
  background: transparent;
}
/* primary button style */
.btn-primary-lg {
  background-color: var(--blue);
  color: var(--white);
  font-size: var(--font-size-large);
  padding: 1rem;
  border-radius: 0.25rem;
  text-decoration: none;
}
.btn-primary-md {
  background-color: var(--blue);
  color: var(--white);
  font-size: var(--font-size-md);
  padding: 0.5rem;
  border-radius: 0.25rem;
  text-decoration: none;
}
.btn-primary-sm {
  background-color: var(--blue);
  color: var(--white);
  font-size: var(--font-size-sm);
  padding: 0.25rem;
  border-radius: 0.25rem;
  text-decoration: none;
}

/* outline button style */
.outline-none {
  border: 0px;
}
.outline-red {
  border: 1px solid var(--red);
}
.outline-black {
  border: 1px solid var(--black);
}
.outline-yellow {
  border: 1px solid var(--yellow);
}
.outline-blue {
  border: 1px solid var(--blue);
}
.outline-purple {
  border: 1px solid var(--purple);
}
.outline-green {
  border: 1px solid var(--green);
}
