@import "../utilities/utilities.css";

button {
  cursor: pointer;
  background: transparent;
  font-family: var(--font-family);
  border: 2px solid var(--primary-color);
}
/* primary button style */
.btn-primary-lg {
  background-color: var(--primary-color);
  color: var(--white);
  font-size: var(--font-size-large);
  padding: 1rem 1.5rem;
  border-radius: 2rem;
  text-decoration: none;
}
.btn-primary-md {
  background-color: var(--primary-color);
  color: var(--white);
  font-size: var(--font-size-md);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  text-decoration: none;
}
.btn-primary-sm {
  background-color: var(--primary-color);
  color: var(--white);
  font-size: var(--font-size-sm);
  padding: 0.25rem 0.5rem;
  border-radius: 1rem;
  text-decoration: none;
}
.btn-primary {
  border-radius: 50%;
  background-color: var(--primary-color);
  text-decoration: none;
  color: var(--white);
}
.btn-primary:hover,
.btn-primary-lg:hover,
.btn-primary-md:hover,
.btn-primary-sm:hover {
  background-color: var(--primary-color-hover);
}
.btn-secondary-lg {
  color: var(--primary-color);
  font-size: var(--font-size-large);
  padding: 1rem 1.5rem;
  border-radius: 2rem;
  text-decoration: none;
}
.btn-secondary-md {
  /* background-color: var(--primary-color); */
  color: var(--primary-color);
  font-size: var(--font-size-md);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  text-decoration: none;
}
.btn-secondary-sm {
  /* background-color: var(--primary-color); */
  color: var(--primary-color);
  font-size: var(--font-size-sm);
  padding: 0.25rem 0.5rem;
  border-radius: 1rem;
  text-decoration: none;
}
.btn-secondary-lg:hover,
.btn-secondary-md:hover,
.btn-secondary-sm:hover {
  background-color: var(--primary-color-hover);
  color: var(--white);
}

.btn-floating {
  font-size: var(--font-size-large);
  position: fixed;
  border-radius: 50pc;
  height: 2rem;
  background-color: var(--orange);
  color: var(--white);
  border: 1px solid var(--orange);
}
/* outline button style */
.outline-none {
  border: 0px;
}
.outline-red {
  border: 1px solid var(--red);
}
.outline-black {
  border: 1px solid var(--black);
}
.outline-yellow {
  border: 1px solid var(--yellow);
}
.outline-blue {
  border: 1px solid var(--blue);
}
.outline-purple {
  border: 1px solid var(--purple);
}
.outline-green {
  border: 1px solid var(--green);
}
