@import "../utilities/utilities.css";

.card-image {
  width: 100%;
}
.card-head {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-bold);
  margin-bottom: 0.5rem;
}
.card {
  padding: 1rem;
  position: relative;
  margin: 1rem;
}
.card-badge {
  display: flex;
  align-items: center;
}
.card-title {
  border-bottom: 1px solid black;
  margin-bottom: 0.5rem;
  font-size: var(--font-size-large);
}
.text-overlay {
  position: absolute;
  top: 0px;
}

.card-shadow-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card-shadow-1:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-shadow-2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.card-shadow-3 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.card-shadow-4 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-shadow-5 {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
