@import "../utilities/utilities.css";

.input {
  padding: 0.2rem;
  outline: none;
  border-width: 0px;
  border-bottom-width: 2px;
  border-bottom-color: var(--light-gray);
  border-bottom-style: solid;
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-bold);
  font-family: "Josefin Sans", sans-serif;
}
input[type="email"]:valid {
  background: url(/assets/home.svg);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 20px 20px;
}
