@import "../utilities/utilities.css";

.nav {
  display: flex;
}
nav {
  width: 100%;
  background-color: var(--primary-color);
  color: var(--white);
  padding: 0rem;
  margin: 0rem;
  position: sticky;
  top: 0px;
  z-index: 2;
}
