@import "../utilities/utilities.css";

.nav {
  display: flex;
  background-color: var(--primary-color);
  color: var(--white);
  padding: 0rem;
  margin: 0rem;
  position: sticky;
  top: 0px;
  z-index: 2;
  padding: 0.5rem 1rem;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.nav-header {
  display: flex;
  flex-flow: row wrap;
  font-size: var(--font-size-large);
  align-items: center;
}
.nav-list {
  display: flex;
  flex-flow: row wrap;
}
