@import "../utilities/utilities.css";

.toast-success {
  padding: 1rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;
  color: white;
  width: 15rem;
  background-color: var(--green);
}
.toast-error {
  padding: 1rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;
  color: white;
  width: 15rem;
  background-color: var(--red);
}
.toast-info {
  padding: 1rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;
  color: black;
  width: 15rem;
  background-color: var(--secondary-color-hover);
}
